services:
  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
  frontend:
    build:
      context: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
  portfolio:
    build:
      context: ./portfolio
    ports:
      - "8081:80"
